{% extends 'base.html' %}
{% load static %}

{% block content %}

		

<div id="main" class="sidebar-none sidebar-divider-off">

	
	<div class="main-gradient"></div>
	<div class="wf-wrap">
	<div class="wf-container-main">

	


	<div id="content" class="content" role="main">

		<div class="the7-box-wrapper the7-elementor-widget the7_icon_box_widget-cbe6128">			<div class="box-content-wrapper">
									<a class="elementor-icon-div" href="tel:+201101120700">						<div class="elementor-icon">
							<i aria-hidden="true" class="the7bootstrap- the7-bootstrap-telephone"></i>						</div>
					</a>								<div class="box-content">
																	<h4 class="box-heading">
							<a href="tel:+201101120700">								+20 1101120700							</a>						</h4>
																<div class="box-description">Sunday - Thursday 10am - 6pm</div>
					
					
				</div>
			</div>
		</div>			</div>
				</div>
				<div class="elementor-element elementor-element-d135ab5 elementor-widget elementor-widget-spacer" data-id="d135ab5" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-086a9ec icon-vertical-align-center content-align-mobile-center icon-position-mobile-top animated-slow content-align-left icon-box-vertical-align-top icon-position-left elementor-invisible elementor-widget elementor-widget-the7_icon_box_widget" data-id="086a9ec" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;bounceInLeft&quot;}" data-widget_type="the7_icon_box_widget.default">
				<div class="elementor-widget-container">
			
		<div class="the7-box-wrapper the7-elementor-widget the7_icon_box_widget-086a9ec">			<div class="box-content-wrapper">
									<a class="elementor-icon-div" href="mailto:info@dulleni.com">						<div class="elementor-icon">
							<i aria-hidden="true" class="the7bootstrap- the7-bootstrap-envelope"></i>						</div>
					</a>								<div class="box-content">
																	<h4 class="box-heading">
							<a href="mailto:info@dulleni.com">								info@dulleni.com							</a>						</h4>
																<div class="box-description"><p>Support &amp; information</p></div>
					
					
				</div>
			</div>
		</div>			</div>
				</div>
				<div class="elementor-element elementor-element-6ad975c elementor-widget elementor-widget-spacer" data-id="6ad975c" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1d08e83 icon-vertical-align-center content-align-mobile-center icon-position-mobile-top animated-slow content-align-left icon-box-vertical-align-top icon-position-left elementor-invisible elementor-widget elementor-widget-the7_icon_box_widget" data-id="1d08e83" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;bounceInLeft&quot;}" data-widget_type="the7_icon_box_widget.default">
				<div class="elementor-widget-container">
			
		<div class="the7-box-wrapper the7-elementor-widget the7_icon_box_widget-1d08e83">			<div class="box-content-wrapper">
									<a class="elementor-icon-div" href="https://goo.gl/maps/CRedBEArrUSiTdrD6">						<div class="elementor-icon">
							<i aria-hidden="true" class="the7bootstrap- the7-bootstrap-map"></i>						</div>
					</a>								<div class="box-content">
																	<h4 class="box-heading">
							<a href="https://goo.gl/maps/CRedBEArrUSiTdrD6">								14 st. Bahaa El-Ghatwary, Smouha, Alexandria, Egypt.							</a>						</h4>
																<div class="box-description"><p>Office location</p></div>
					
					
				</div>
			</div>
		</div>			</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b1c2c91" data-id="b1c2c91" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-415b483 animated-slow elementor-invisible elementor-widget elementor-widget-image" data-id="415b483" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="768" height="724" src="{% static 'uploads/contact-us-1-768x724-1.png" class="attachment-full size-full wp-image-1081" alt="" loading="lazy" srcset="https://dulleni.clients.scitecs.com/wp-content/uploads/contact-us-1-768x724-1.png 768w, https://dulleni.clients.scitecs.com/wp-content/uploads/contact-us-1-768x724-1-300x283.png 300w, https://dulleni.clients.scitecs.com/wp-content/uploads/contact-us-1-768x724-1-200x189.png 200w, https://dulleni.clients.scitecs.com/wp-content/uploads/contact-us-1-768x724-1-400x377.png 400w, https://dulleni.clients.scitecs.com/wp-content/uploads/contact-us-1-768x724-1-600x566.png 600w" sizes="(max-width: 768px) 100vw, 768px" />															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-832ccfd elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-invisible" data-id="832ccfd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-wider">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-32df6d5" data-id="32df6d5" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-70809c8 elementor-widget elementor-widget-heading" data-id="70809c8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Have a question?<br>Send us a message</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-110e11b elementor-widget elementor-widget-spacer" data-id="110e11b" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-3bcca5a elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="3bcca5a" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
				<div class="elementor-widget-container">
					<form class="elementor-form" method="post" name="New Form">
			<input type="hidden" name="post_id" value="8039"/>
			<input type="hidden" name="form_id" value="3bcca5a"/>
			<input type="hidden" name="referer_title" value="Contact" />

							<input type="hidden" name="queried_id" value="8039"/>
			
			<div class="elementor-form-fields-wrapper elementor-labels-">
								<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-50">
												<label for="form-field-name" class="elementor-field-label elementor-screen-only">
								Name							</label>
														<input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Name">
											</div>
								<div class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-field_90029d6 elementor-col-50">
							<input size="1" type="tel" name="form_fields[field_90029d6]" id="form-field-field_90029d6" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Phone number" pattern="[0-9()#&amp;+*-=.]+" title="Only numbers and phone characters (#, -, *, etc) are accepted.">

						</div>
								<div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-field_954ac6f elementor-col-100">
													<input size="1" type="email" name="form_fields[field_954ac6f]" id="form-field-field_954ac6f" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Email">
											</div>
								<div class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-field_e97b40f elementor-col-100">
												<label for="form-field-field_e97b40f" class="elementor-field-label elementor-screen-only">
								Your question							</label>
						<textarea class="elementor-field-textual elementor-field  elementor-size-md" name="form_fields[field_e97b40f]" id="form-field-field_e97b40f" rows="7" placeholder="Your question"></textarea>				</div>
								<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
					<button type="submit" class="elementor-button elementor-size-md">
						<span >
															<span class="elementor-align-icon-left elementor-button-icon">
									<i aria-hidden="true" class="feather feather-phone-incoming"></i>																	</span>
																						<span class="elementor-button-text">Send message</span>
													</span>
					</button>
				</div>
			</div>
		</form>
				</div>
				</div>
				<div class="elementor-element elementor-element-ec0bb38 elementor-widget elementor-widget-spacer" data-id="ec0bb38" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
		
	</div><!-- #content -->

	


			</div><!-- .wf-container -->
		</div><!-- .wf-wrap -->

	
	</div><!-- #main -->

	


	
{% endblock %}