{% extends 'base.html' %}
{% load static %}
{% block content %}

      <div id="main" class="sidebar-none sidebar-divider-off">
        <div class="main-gradient"></div>
        <div class="wf-wrap">
          <div class="wf-container-main">
            <div id="content" class="content" role="main">
              <div
                data-elementor-type="single-post"
                data-elementor-id="16680"
                class="elementor elementor-16680 elementor-location-single post-15750 jobs type-jobs status-publish career_pathway-conventional career_pathway-enterprising career_pathway-investigative description-off"
              >
                <section
                  class="elementor-section elementor-top-section elementor-element elementor-element-4b00b7f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="4b00b7f"
                  data-element_type="section"
                >
                  <div class="elementor-background-overlay"></div>
                  <div class="elementor-container elementor-column-gap-default">
                    <div
                      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6bf6fd0"
                      data-id="6bf6fd0"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-widget-wrap elementor-element-populated"
                      >
                        <div
                          class="elementor-element elementor-element-126bdda elementor-widget elementor-widget-text-editor"
                          data-id="126bdda"
                          data-element_type="widget"
                          data-widget_type="text-editor.default"
                        >
                          <div class="elementor-widget-container">
                            <p>Career outlook for</p>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-505dba2 elementor-widget elementor-widget-text-editor"
                          data-id="505dba2"
                          data-element_type="widget"
                          data-widget_type="text-editor.default"
                        >
                          <div class="elementor-widget-container">
                            Accountants and Auditors
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f51aaef"
                      data-id="f51aaef"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-widget-wrap elementor-element-populated"
                      >
                        <div
                          class="elementor-element elementor-element-6fa2135 elementor-widget elementor-widget-image"
                          data-id="6fa2135"
                          data-element_type="widget"
                          data-widget_type="image.default"
                        >
                          <div class="elementor-widget-container">
                            <img
                              src="{% static 'uploads/elementor/thumbs/Banner-3-pz3yt6by50zt82h49rju2xy52yjyievobs6ah9jd78.png' %}"
                              title="Banner-3"
                              alt="Banner-3"
                              loading="lazy"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section
                  class="elementor-section elementor-top-section elementor-element elementor-element-5a6d1a0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="5a6d1a0"
                  data-element_type="section"
                >
                  <div class="elementor-container elementor-column-gap-default">
                    <div
                      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a4a4747"
                      data-id="a4a4747"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-widget-wrap elementor-element-populated"
                      >
                        <div
                          class="elementor-element elementor-element-21cacc4 elementor-widget elementor-widget-text-editor"
                          data-id="21cacc4"
                          data-element_type="widget"
                          data-widget_type="text-editor.default"
                        >
                          <div class="elementor-widget-container">
                            <p>What do they do?</p>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-8b435fd elementor-widget elementor-widget-theme-post-content"
                          data-id="8b435fd"
                          data-element_type="widget"
                          data-widget_type="theme-post-content.default"
                        >
                          <div class="elementor-widget-container">
                            <p>
                              Examine, analyze, and interpret accounting records
                              to prepare financial statements, give advice, or
                              audit and evaluate statements prepared by others.
                              Install or advise on systems of recording costs or
                              other financial and budgetary data.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section
                  class="elementor-section elementor-top-section elementor-element elementor-element-8c78a70 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="8c78a70"
                  data-element_type="section"
                >
                  <div class="elementor-container elementor-column-gap-default">
                    <div
                      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5ba5459"
                      data-id="5ba5459"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-widget-wrap elementor-element-populated"
                      >
                        <div
                          class="elementor-element elementor-element-7b3d3c4 elementor-widget elementor-widget-heading"
                          data-id="7b3d3c4"
                          data-element_type="widget"
                          data-widget_type="heading.default"
                        >
                          <div class="elementor-widget-container">
                            <h2
                              class="elementor-heading-title elementor-size-default"
                            >
                              Tasks
                            </h2>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-e8b3bc1 elementor-widget elementor-widget-heading"
                          data-id="e8b3bc1"
                          data-element_type="widget"
                          data-widget_type="heading.default"
                        >
                          <div class="elementor-widget-container">
                            <h2
                              class="elementor-heading-title elementor-size-medium"
                            >
                              <p>
                                &#8211; Prepare detailed reports on audit
                                findings.<br />
                                &#8211; Report to management about asset
                                utilization and audit results, and recommend
                                changes in operations and financial
                                activities.<br />
                                &#8211; Collect and analyze data to detect
                                deficient controls, duplicated effort,
                                extravagance, fraud, or non-compliance with
                                laws, regulations, and management policies.<br />
                                &#8211; Inspect account books and accounting
                                systems for efficiency, effectiveness, and use
                                of accepted accounting procedures to record
                                transactions.<br />
                                &#8211; Supervise auditing of establishments,
                                and determine scope of investigation
                                required.<br />
                                &#8211; Confer with company officials about
                                financial and regulatory matters.<br />
                                &#8211; Examine and evaluate financial and
                                information systems, recommending controls to
                                ensure system reliability and data integrity.<br />
                                &#8211; Inspect cash on hand, notes receivable
                                and payable, negotiable securities, and canceled
                                checks to confirm records are accurate.<br />
                                &#8211; Examine records and interview workers to
                                ensure recording of transactions and compliance
                                with laws and regulations.<br />
                                &#8211; Prepare, examine, or analyze accounting
                                records, financial statements, or other
                                financial reports to assess accuracy,
                                completeness, and conformance to reporting and
                                procedural standards.<br />
                                &#8211; Prepare adjusting journal entries.<br />
                                &#8211; Review accounts for discrepancies and
                                reconcile differences.<br />
                                &#8211; Establish tables of accounts and assign
                                entries to proper accounts.<br />
                                &#8211; Examine inventory to verify journal and
                                ledger entries.<br />
                                &#8211; Analyze business operations, trends,
                                costs, revenues, financial commitments, and
                                obligations to project future revenues and
                                expenses or to provide advice.<br />
                                &#8211; Report to management regarding the
                                finances of establishment.<br />
                                &#8211; Develop, implement, modify, and document
                                recordkeeping and accounting systems, making use
                                of current computer technology.<br />
                                &#8211; Evaluate taxpayer finances to determine
                                tax liability, using knowledge of interest and
                                discount rates, annuities, valuation of stocks
                                and bonds, and amortization valuation of
                                depletable assets.<br />
                                &#8211; Examine whether the organization&#8217;s
                                objectives are reflected in its management
                                activities, and whether employees understand the
                                objectives.<br />
                                &#8211; Audit payroll and personnel records to
                                determine unemployment insurance premiums,
                                workers&#8217; compensation coverage,
                                liabilities, and compliance with tax laws.<br />
                                &#8211; Review taxpayer accounts, and conduct
                                audits on-site, by correspondence, or by
                                summoning taxpayer to office.<br />
                                &#8211; Compute taxes owed and prepare tax
                                returns, ensuring compliance with payment,
                                reporting, or other tax requirements.<br />
                                &#8211; Advise clients in areas such as
                                compensation, employee health care benefits, the
                                design of accounting or data processing systems,
                                or long-range tax or estate plans.<br />
                                &#8211; Represent clients before taxing
                                authorities and provide support during
                                litigation involving financial issues.<br />
                                &#8211; Direct activities of personnel engaged
                                in filing, recording, compiling, and
                                transmitting financial records.<br />
                                &#8211; Conduct pre-implementation audits to
                                determine if systems and programs under
                                development will work as planned.<br />
                                &#8211; Develop, maintain, or analyze budgets,
                                preparing periodic reports that compare budgeted
                                costs to actual costs.<br />
                                &#8211; Prepare, analyze, or verify annual
                                reports, financial statements, and other
                                records, using accepted accounting and
                                statistical procedures to assess financial
                                condition and facilitate financial planning.<br />
                                &#8211; Process invoices for payment.<br />
                                &#8211; Review data about material assets, net
                                worth, liabilities, capital stock, surplus,
                                income, or expenditures.
                              </p>
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-29a91f0"
                      data-id="29a91f0"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-widget-wrap elementor-element-populated"
                      >
                        <section
                          class="elementor-section elementor-inner-section elementor-element elementor-element-9945f8f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                          data-id="9945f8f"
                          data-element_type="section"
                        >
                          <div
                            class="elementor-container elementor-column-gap-default"
                          >
                            <div
                              class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-06a4d4c"
                              data-id="06a4d4c"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-widget-wrap elementor-element-populated"
                              >
                                <div
                                  class="elementor-element elementor-element-8114daa elementor-widget elementor-widget-heading"
                                  data-id="8114daa"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <h2
                                      class="elementor-heading-title elementor-size-default"
                                    >
                                      Required Skills
                                    </h2>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-d7b208c elementor-widget elementor-widget-text-editor"
                                  data-id="d7b208c"
                                  data-element_type="widget"
                                  data-widget_type="text-editor.default"
                                >
                                  <div class="elementor-widget-container">
                                    <p>
                                      &#8211; Reading Comprehension<br />
                                      &#8211; Active Listening<br />
                                      &#8211; Writing<br />
                                      &#8211; Speaking<br />
                                      &#8211; Mathematics<br />
                                      &#8211; Critical Thinking<br />
                                      &#8211; Active Learning<br />
                                      &#8211; Learning Strategies<br />
                                      &#8211; Monitoring<br />
                                      &#8211; Social Perceptiveness<br />
                                      &#8211; Coordination<br />
                                      &#8211; Persuasion<br />
                                      &#8211; Negotiation<br />
                                      &#8211; Instructing<br />
                                      &#8211; Service Orientation<br />
                                      &#8211; Complex Problem Solving<br />
                                      &#8211; Operations Analysis<br />
                                      &#8211; Judgment and Decision Making<br />
                                      &#8211; Systems Analysis<br />
                                      &#8211; Systems Evaluation<br />
                                      &#8211; Time Management<br />
                                      &#8211; Management of Financial
                                      Resources<br />
                                      &#8211; Management of Personnel Resources
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="elementor-section elementor-inner-section elementor-element elementor-element-96b4fe8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                          data-id="96b4fe8"
                          data-element_type="section"
                        >
                          <div
                            class="elementor-container elementor-column-gap-default"
                          >
                            <div
                              class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-e663656"
                              data-id="e663656"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-widget-wrap elementor-element-populated"
                              >
                                <div
                                  class="elementor-element elementor-element-2151bae elementor-widget elementor-widget-heading"
                                  data-id="2151bae"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <h2
                                      class="elementor-heading-title elementor-size-default"
                                    >
                                      Programs
                                    </h2>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-e4ae3a4 elementor-widget elementor-widget-text-editor"
                                  data-id="e4ae3a4"
                                  data-element_type="widget"
                                  data-widget_type="text-editor.default"
                                >
                                  <div class="elementor-widget-container"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="elementor-section elementor-inner-section elementor-element elementor-element-5b4f086 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                          data-id="5b4f086"
                          data-element_type="section"
                        >
                          <div
                            class="elementor-container elementor-column-gap-default"
                          >
                            <div
                              class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-649bf4a"
                              data-id="649bf4a"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-widget-wrap elementor-element-populated"
                              >
                                <div
                                  class="elementor-element elementor-element-1ddfde8 elementor-widget elementor-widget-heading"
                                  data-id="1ddfde8"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <h2
                                      class="elementor-heading-title elementor-size-default"
                                    >
                                      Salary
                                    </h2>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-abd5ac2 elementor-widget elementor-widget-text-editor"
                                  data-id="abd5ac2"
                                  data-element_type="widget"
                                  data-widget_type="text-editor.default"
                                >
                                  <div class="elementor-widget-container"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- #content -->
          </div>
          <!-- .wf-container -->
        </div>
        <!-- .wf-wrap -->
      </div>

{% endblock content %}

