{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="main" class="sidebar-none sidebar-divider-off">
	<section class="jumbotron text-center" style="background-image: url('{% static 'img/Banner.jpeg' %}'); background-size: cover; background-position: center;">
		<div class="container">
      <h1 class="jumbotron-heading" style="color: azure;">Jobs</h1>
      <p class="lead text" style="color: aliceblue;">
        Explore hundreds of jobs, filter upon your preferences, and choose your career pathway
      </p>
      <p>
        <a href="{% url 'skill_match' %}" class="btn btn-primary my-2" >Match my skills</a>
        <a href="{% url 'interst_match' %}" class="btn btn-secondary my-2">Match my intrest</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for job in page_obj.object_list %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            
            <div class="card-body">
              <p class="card-text">{{ job.occupation_name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'job_details' job.id %}" class="btn btn-sm btn-outline-secondary">
                    View
                  </a>
                </div>
                <small class="text-muted">{{ job.date }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    


  {% if page_obj.has_other_pages %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
  {% endif %}
	</div>
  </div>

</div>
{% endblock content %}
